.main-header {
  background-image: url(../images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0;
  background-color: #676767;
  color: white;
  background-blend-mode:  multiply;
}

.container-fluid {
  overflow: hidden;
}

.hero-gambar {
  margin-bottom: 2%;
}

.main-cerita {
  padding:12% 0;
}

.main-karya{
  background-color: #DDDDDD;
  padding:12% 0;
}

.main-karya h6 {
  margin-bottom: 10%;
}


.main-skill {
  background-color: #FF664B;
  padding: 5% 0;
}

.main-skill h4 {
  color: white;
}

.progress {
  background-color: #AAAAAA;
  border: 1px solid black;
  margin: 1% 0;
}

.progress-bar {
  background-color: white;
  color: black;
}

.main-title {
  margin-bottom: 4%;
}

.main-kontak {
  padding: 10% 0;
}

.main-kontak h4 {
  margin-bottom: 4%;
}

.main-footer {
  background-color: black;
  color: white;
  padding: 5% 0;
}
